
.main--1{
    display: grid;
    grid-template-columns: 30% 10% 60%;
    grid-template-rows: repeat(13,auto);
    font-size: 1.3em;
    padding: 2px;
}

.main__h2--simple{
    grid-column: 1/4;
    grid-row: 1/2;
    
}

.main__div--header{
    grid-column: 1/4;
    grid-row: 2/3;
    border: 5px solid #0054A6;
    text-align: center;
  
}

.main__div--SideBar{
    grid-column: 1/3;
    grid-row: 3/4;
    border: 5px solid #0054A6;
    border-top: 0;
    text-align: center;
   
}

.main__div--Content{
    grid-column: 3/4;
    grid-row: 3/4; 
    border: 5px solid #0054A6;
    border-top: 0;
    border-left: 0; 
    text-align: center;
      
}

.main__div--footer{
    grid-column: 1/4;
    grid-row: 4/5; 
    border: 5px solid #0054A6;
    border-top: 0;
    text-align: center;
}

.main__h2--complex{
    grid-column: 1/4;
    grid-row: 5/6;
}

.main__div--1{
    grid-column: 1/4;
    grid-row: 6/7;
    border: 5px solid #0054A6;
    text-align: center;
    
}

.main__div--2{
    grid-column: 1/2;
    grid-row: 7/12;
    border: 5px solid #0054A6;
    border-top: 0;
    text-align: center;
}

.main__div--3{
    grid-column: 2/3;
    grid-row: 7/8;
    border: 5px solid #0054A6;
    border-top: 0;
    border-left: 0; 
    text-align: center;
}

.main__div--4{
    grid-column: 2/3;
    grid-row: 8/9;
    border: 5px solid #0054A6;
    border-top: 0;
    border-left: 0;
    text-align: center;
}

.main__div--5{
    grid-column: 2/3;
    grid-row: 9/10;
    border: 5px solid #0054A6;
    border-top: 0;
    border-left: 0;
    text-align: center;
}

.main__div--6{
    grid-column: 2/3;
    grid-row: 10/11;
    border: 5px solid #0054A6;
    border-top: 0;
    border-left: 0;
    text-align: center;
}

.main__div--7{
    grid-column: 2/3;
    grid-row: 11/12;
    border: 5px solid #0054A6;
    border-top: 0;
    border-left: 0;
    text-align: center;
}

.main__div--8{
    grid-column: 3/4;
    grid-row: 7/12;
    border: 5px solid #0054A6;
    border-top: 0;
    border-left: 0;
    text-align: center;
}

.main__div--9{
    grid-column: 1/4;
    grid-row: 12/13;
    border: 5px solid #0054A6;
    border-top: 0;
    text-align: center;
}


.main__h2--withContent{
    grid-column: 1/4;
    grid-row: 13/14;
}

.main--2{
    display: grid;
    grid-template-columns: 30% 10% auto;
    grid-template-rows: 120px 180px 180px 180px 180px 180px 50px;
    gap:15px;
    font-size: 1.3em;
}


.header_imgnav-flex{
    grid-column: 1/4;
    grid-row: 1/2;
}

.container3d{
    grid-column: 1/2;
    grid-row: 2/7;
    width: 100%;
    height: 100%;
}

#main__div--logoSm{
    grid-column: 2/3;
    grid-row: 2/3;
    
    
}


#main__div--logoBm{
    grid-column: 2/3;
    grid-row: 3/4;
   
}

#main__div--logoWw{
    grid-column: 2/3;
    grid-row: 4/5;
   
}

#main__div--logoGl{
    grid-column: 2/3;
    grid-row: 5/6;
 
}

#main__div--logoAm{
    grid-column: 2/3;
    grid-row: 6/7;
  
}

.main__div--video{
    grid-column: 3/4;
    grid-row: 2/7;
}
