@use 'header';
@use'main';
@use 'footer';
@use 'grid';


*{
    margin: 0;
}


body{
    font-family: 'Comic Neue', cursive;
    
 
}
ul {
    list-style: none;
  }

  li{
    text-decoration: none;
}



